<div class="mt-3 scrollable-div">
    <div class="alert alert-info mt-3" role="alert">
        <strong>[09/01/2025 - 20:33]</strong>
        <p>Low humidity detected, irrigation process started.</p>
    </div>
    <div class="alert alert-info mt-3" role="alert">
        <strong>[09/01/2025 - 15:03]</strong>
        <p>Low humidity detected, irrigation process started.</p>
    </div>
    <div class="alert alert-info mt-3" role="alert">
        <strong>[08/01/2025 - 02:21]</strong>
        <p>Low humidity detected, irrigation process started.</p>
    </div>
</div>