<div class="data-list mt-3">
    <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><i class="bi bi-droplet-half"></i>  <strong>Soil Moisture</strong></li>
            <li class="list-group-item">45%</li>
        </ul>
    </div>

    <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><i class="bi bi-thermometer-half"></i>  <strong>Temperature</strong></li>
            <li class="list-group-item">45%</li>
        </ul>
    </div>

    <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><i class="bi bi-lightbulb-fill"></i>  <strong>Luminosity</strong></li>
            <li class="list-group-item">45%</li>
        </ul>
    </div>
</div>