<div class="card w-75 position-relative">
    <div class="card-body">
        <h5 class="card-title"><%= setting %></h5>
        <p class="card-text" id="temperature-value"><%= value %></p>
        <i class="bi bi-pencil-square edit-icon" data-bs-toggle="modal" data-bs-target="#editModal"></i>
    </div>
</div>