<div id="sidebar">
    <h4 class="text-white text-center">Smart Greenhouse</h4>
    <hr class="border-light">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="bi bi-display"></i> Monitoring</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="bi bi-dpad"></i> Control</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="bi bi-bar-chart-line"></i> Statistics</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="bi bi-envelope-paper"></i> Report</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="bi bi-robot"></i> Test</a>
        </li>
    </ul>
</div>