<div id="sidebar">
    <h4 class="text-white text-center">Smart Greenhouse</h4>
    <hr class="border-light">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="bi bi-house-door"></i> Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="bi bi-person"></i> Perfil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="bi bi-gear"></i> Configurações</a>
        </li>
    </ul>
</div>