<div class="mt-3">
    <ul class="list-group">
        <li class="list-group-item"><strong>Temperature Status:</strong>  
            <span class="badge rounded-pill bg-success text-dark">Good</span>
            <span class="badge rounded-pill bg-warning text-dark">Bad</span>
            <span class="badge rounded-pill bg-danger text-dark">Danger!</span>
        </li>
        <li class="list-group-item"><strong>Soil Moisture Status:</strong> 
            <span class="badge rounded-pill bg-success text-dark">Good</span>
            <span class="badge rounded-pill bg-warning text-dark">Need Irrigation</span>
            <span class="badge rounded-pill bg-danger text-dark">Terrible!</span>
        </li>
        <li class="list-group-item"><strong>Luminosity Status:</strong> 
            <span class="badge rounded-pill bg-light text-dark">LED ON!</span>
            <span class="badge rounded-pill bg-dark">LED OFF!</span>
        </li>
        <li class="list-group-item"></li>
        <li class="list-group-item">
            <strong>Last Irrigation: </strong> 09/01/2025 - 20:33
        </li>
    </ul>
</div>